<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.bobi.commons.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.dream.bobi.commons.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="money" jdbcType="BIGINT" property="money" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_vip" jdbcType="TINYINT" property="isVip" />
    <result column="vip_end_time" jdbcType="TIMESTAMP" property="vipEndTime" />
  </resultMap>
  <update id="increaseMoney">
    update user set money = money+${money} where id = ${userId}
  </update>
  <update id="deductMoney">
    update user set money = money-${money} where id = ${userId} and money-${money} >0
  </update>
</mapper>